*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build/intermediates/
/adb
/.gradle/
/.idea/
/app/build/
/app/release/
/app/live/
/app/development/
/app/stagging/
/cache/database/build/
/cache/shared_pref/build/
/utils/build/
/features/auth/build/
/features/services/build/
/features/emr/build/
/features/emergency/build/
/features/host/build/
/features/service/build/
